<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>@ViewBag.Title</title>
    <link href="~/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/blog.css" rel="stylesheet" />
    <script src="~/js/jquery-3.0.0.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        @{Html.RenderAction("Header", "Home");}
        @RenderBody()
    </div>
    @{Html.RenderAction("Footer", "Home");}    
</body>
</html>
