<footer class="blog-footer">
    <p>
        Vektörel Yazılım 
        <a href="http://vektorelbilisim.com/"> 
        Naci Hoca</a>
    </p>
    <p>
        <a href="#">Sayfa Başı</a>
    </p>
</footer>