<header class="blog-header py-3">
    <div class="row flex-nowrap align-items-center">
        <div class="col-4">
            <a class="text-muted" href="~/">Haftasonu Yazılım Grubu</a>
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="~/">
                <img src="~/images/logo.png" />
            </a>
        </div>
    </div>
</header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex">
        <a class="p-2 text-muted" href="~/">Anasayfa</a>
        <a class="p-2 text-muted" href="#">Menü</a>
        <a class="p-2 text-muted" href="~/foto">Foto Galeri</a>
        <a class="p-2 text-muted" href="~/video">Video Galeri</a>
        <a class="p-2 text-muted" href="~/iletisim">İletişim</a>
    </nav>
</div>